<%= react_component 'IndexCard', {question: @question} %>
<div class="row">
  <div class="small-12 text-center">
    <h2>Listing Cards</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @question.each do |question| %>
          <tr>
            <td><%= question.title %></td>
            <td><%= h raw question.description_markdown %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>