<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Explanation</Data></Cell>
      </Row>
    <% @questions.each do |question| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= question.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= question.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= question.description_markdown %></Data></Cell>
        <Cell><Data ss:Type="String"><%= question.explanation_markdown %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
