<div class="row">
	<div class="large-10 large-centered columns">
		<%= react_component 'IndexCard', {question: @questions, questions_path: questions_path, tag_path: request.url}%>
		<div class="row white-background">
			<div class="small-4 columns">
				<div class="row">
					<%= react_component 'SearchCard', {questions_path: questions_path}%>
				</div>
				<div class="row">
					<%= react_component 'SearchByTag', {tag_path: request.url}%>
				</div>		
			</div>
			<div class="small-8 columns">
				<% @questions.each do |question| %>
					<%= react_component 'Card', {title: question.title, id: question.id, description: question.description_markdown, tag_list: question.tag_list,tag_path: request.url} %>
				<% end %>
			</div>
		</div>
	</div>
</div>
