<h3>Stats Session : 
    <p>
        Cards correct: <%= @cont %>
    </p>
    <p>
		% Session: <%= @percentage_session %>
	</p>
		Passed: <%= @passed_session %>
	<p>
		% of people who pass the Session: <%= @percentage_people %>
    </p>
</h1>