<%= form_for [@question, @question.comments.new] do |f| %>
<div class="form-group">
    <%= f.text_field :comment_markdown, autofocus: true %>
</div>
<div class="actions">
  <%= f.button "Comment" %>
</div>
<% end %>