.question-background{
	background: transparent url(image_path(#{"question_field.png"})) no-repeat center;
    min-height: 463px; 
    padding: 50px;
}
.card-background{
	background: transparent url(image_path(#{"card_field_view.png"})) no-repeat center;
    min-height: 118px; 
    max-height: 118px;
    min-width: 493px;
    margin-bottom: 10px;
    padding: 12px;
    overflow: hidden; 
    .button-edit:hover{
    	background-color: transparent;
    	opacity: 0.7;
    }
    .button-delete:hover{
    	background-color: transparent;
    	opacity: 0.7;
    }
}
.button-edit{
	background: transparent url(image_path(#{"Edit.png"})) no-repeat center;
    min-height: 13px;
    min-width: 13px; 
}
.button-delete{
	background: transparent url(image_path(#{"Delete.png"})) no-repeat center;
    min-height: 13px;
    min-width: 13px; 
}

.answer_field{	
     
    input[type=checkbox]:not(old),
	input[type=radio   ]:not(old){
	  margin  : 0;
	  padding : 0;
	  opacity : 0;
	}

	input[type=checkbox]:not(old) + label,
	input[type=radio   ]:not(old) + label{
	  display      : inline-block;
	  min-height: 65px;
	  width: 906px;
	  margin-left  : 6px;
	  padding-left : 28px;
	  background: transparent url(image_path(#{"answer.png"})) no-repeat center;
	  line-height  : 50px;
	}

	input[type=checkbox]:not(old):checked + label{
      opacity: 0.5;
	}

	input[type=radio]:not(old):checked + label{
	  opacity: 0.5;
	}
}

.upvote, .downvote{
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-size: 100% 100%;
  &.upvote{
    margin-right: 15px;
    background-image: url(image_path(#{"upvote.png"}));
  }
  &.downvote{
    background-image: url(image_path(#{"downvote.png"}));
  }
  &:hover{
    opacity: 0.6;
  }
}

.correct-bg{
	background: url(image_path(#{"right_answer.png"})) no-repeat center !important;
	color: #fff !important;
}

@media only screen and (max-device-width:1024px){
	#run_card_filter{
		#search_run_card_filter{
			display: none;
		}
		#explanation_run_card_filter{
			display: none;
		}
	}
	#run_session_filter{
		#search_run_session_filter{
			display: none;
		}
		#explanation_run_session_filter{
			display: none;
		}
	}
	#header_responsive{
		display: block !important;
	}
	#header_desktop{
		display: none;
	}


}