.sasensei-title{
	color: #ffffff;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}
.menu-title{
	color: #B17FA0;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}
.menu-subtitle{
	color: #9C9C9C;
	font-family: 'Permanent Marker', cursive;
	font-size: 10px;
}