/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require trix
 */
.btn-linkedin{
	padding: 0.3em 1em;
}
 .fntsize-25{
 	font-size: 25px;
 	vertical-align: super;
 }
.radius-40{
	border-radius: 40px;
}
.radius-10{
	border-radius: 10px;
}
.white{
	color: #ffffff !important; 
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
 .divider{
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 30px 0;
    position: relative;
    text-align: center;
 }
.divider .divider-title{
	background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
}
.title{
	margin: 30px 0px;
}
.title-signin{
	background-color: #169BD4;
    border-radius: 10px;
    color: white;
    margin: 30px 0px;
}
.lightblue-box{
    background-color: #D0EBF7;
    border-radius: 10px 10px 0 0;
    margin: 25px;
    padding: 50px;
}
.green-btn{
    background-color: #66CC33;
    border-radius: 5px;
    margin: 10px 0;
}
.green-btn:hover{
    background-color: #66CC33;
    opacity: 0.9;
}
.margin-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-15{
    margin: 0 15px;
}
#card-container{
    border: 1px solid #C9C9C9;
    border-radius: 15px;
    padding: 15px;
}

