// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-session{
	background: #ffffff;
	padding: 10px;
}
#save-session{
	margin: 22px 0 0 0;
}
.select-card{
	border: 1px solid #c9c9c9;
    border-radius: 5px;
}

.login-privacy-text{
  color: #7b6f6f;
  font-size: 0.95em;
  margin-top: 20px;
}
