<%= react_component 'UserProfileSasensei',{user: current_user,}%>

<!--<h5>number of sessions passed: <%= @number_session_passeds %></h5> -->
<!--<h5>number of cards submitted: <%= @number_cards_submitted %></h5> -->