<% flash.each do |type, message| %>
    <div data-alert class="expanded row flash callout text-center <%= foundation_flash_class(type) %>" data-closable>
        <p class="bold"> <%= message %> </p>	
	    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
	    	<span aria-hidden="true">&times;</span>
	  	</button>
    </div>
<% end %>